
@model List<MyMvcWeb.Models.ProductItem>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>購物商城</title>
    <style>        
        #ResultList table {
            width:100%;
        }
        #ResultList td {
            padding:10px;
        }
        .Title {
            font-weight:bold;
            font-size:16pt;
        }
        .Header {
            text-align:right;
            font-weight:bold;
        }
    </style>
</head>
<body>
    <h1>購物商城首頁</h1>
    @ViewData["Total"]
    <table id="ResultList">
        @foreach (var item in Model)
        { 
            <tr>
                <td style="width:150px;text-align:center"><img src="/Tool/GetProductImage?pid=@item.Id" title="@item.Name" /></td>
                <td>
                    <table style="width:100%">
                        <tr>
                            <td colspan="4" class="Title">@item.Name</td>
                        </tr>
                        <tr>
                            <td class="Header">產品編號：</td>
                            <td>@item.Id</td>
                            <td class="Header">單價：</td>
                            <td>@item.Price</td>
                        </tr>
                            <tr>                                    
                            <td class="Header">單位數量：</td>
                            <td>@item.Unit</td>
                            <td class="Header">庫存量：</td>
                            <td>@item.Stock</td>
                        </tr>
                        <tr>                                    
                            <td class="Header">供應商：</td>
                            <td>@item.StoreName</td>
                            <td class="Header">產品類別：</td>
                            <td>@item.TypeName</td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                @if (item.Stock == 0)
                                { 
                                    <img src="~/images/shops/sold-out(s).png" title="沒啦！別買了！" />
                                }
                                else
                                {
                                    <a href="~/MyShop/AddToCart?pid=@item.Id"><img src="~/images/shops/cart_add.png" title="加入購物車" /></a>
                                }
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="font-size:10pt;color:darkgray;text-align:center;">
                    ..................................................................................................................................................................................................................
                </td>
            </tr>
        }
    </table>
    <p style="text-align:center;">@Html.Raw(ViewData["PageLink"])</p>   
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    @Html.Partial("PageFooter")
</body>
</html>
